- if AdditionalTags.setting?(:active_issue_tags) && User.current.allowed_to?(:view_issue_tags, issue.project)
  = render partial: 'additional_tags/tag_list',
           locals: { entry: issue,
                     show_always: true,
                     editable: issue.editable?(User.current),
                     css_id: 'issue_tag_list_show',
                     update_url: issue_path(issue),
                     use_colors: AdditionalTags.setting?(:use_colors) }
