- if defined?(show_always) && show_always || entry.tag_list.present?
  .tags.attribute
    - unless defined? hide_label
      span.label
        = l :field_tag_list
        ' :
    - if defined?(editable) && editable
      #tags-data
        = additional_tag_links entry.tags,
                               project: @project,
                               unsorted: defined?(unsorted) ? unsorted : false,
                               link_wiki_tag: defined?(link_wiki_tag) ? link_wiki_tag : false,
                               use_colors: defined?(use_colors) ? use_colors : true
        '
        span.contextual
          = link_to l(:label_edit_tags),
                    {},
                    onclick: "$('#edit-tags-form').show(); $('#tags-data').hide(); return false;",
                    id: 'edit-tags-link'

      #edit-tags-form.hidden
        = form_tag update_url, method: :put do
          = render defined?(tags_form) ? tags_form : 'tags_form',
                   css_id: defined?(css_id) ? css_id : nil
          '
          = submit_tag l(:button_save), class: 'button-small'
          '
          = link_to l(:button_cancel), {}, onclick: "$('#edit-tags-form').hide(); $('#tags-data').show(); return false;"

      javascript:
        $(function() {
          var eventSelect = $('#issue_tag_list');
          eventSelect.on('select2:close', function(e) { fixScopedTags(e, eventSelect); });
        })

    - else
      = additional_tag_links entry.tags,
                             project: @project,
                             unsorted: defined?(unsorted) ? unsorted : false,
                             link_wiki_tag: defined?(link_wiki_tag) ? link_wiki_tag : false,
                             use_colors: defined?(use_colors) ? use_colors : true
